body{
    color: white;
    background-color: black;
    text-align: center;
    font-family: "Libre Baskerville",serif;
}  
img{
    border:5px solid white;
    width: 70%;
}
div{
    width: 50%;
    margin-left:25%;
    margin-top: 5%;
}